@{
    ViewData["Title"] = "Login Page";
}

<div class=container-fluid>
    <div class=row>
        <div class=col-sm-12>
            <h1>Sign in to the Smart Lunch</h1>
            @* <a href="/signin-oidc">Log in with Google</a> *@
        </div>
    </div>
</div>
