@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Dev Guard App</h1>
    <br>
    <h3>DevGuard is a Cross-Platform MVC Web Application with Google 
        Authentication & Role-Based Access</h3>
</div>