@{
    ViewData["Title"] = "Log In Failed";
}

<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-12 body-content'>
            <h2>Your Log In has failed do you want to try again?</h2>

            <a asp-controller="Account"
               asp-action="Login"
               class="btn btn-primary">
                Log in with Google
            </a>

            <a asp-controller="Home"
               asp-action="Index"
               class="btn btn-primary">
                Return to home
            </a>

        </div>
    </div>
</div>