@using System.Security.Claims

<dl>
    @foreach (Claim claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

@if (User.Identity!.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="SignOut">SignOut</a>
    </li>

    @* <span class="nav-link text-dark">Welcome, @User.FindFirst(ClaimTypes.GivenName)?.Value!</span> *@
    <span class="nav-link text-dark">Hi @User.Identity.Name</span>
}

else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}