@* <p><a asp-area="" asp-controller="Home" asp-action="Login">Login with Google</a></p> *@

<ul>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <li>
            <a>Hello @User.Identity.Name</a>
            <a>Authenticated? @User.Identity.IsAuthenticated</a>
        </li>
        <li>
            @* <a asp-controller="Account" asp-action="Logout">Logout from Google</a> *@
        </li>
    }

    else
    {
        <li>
            <a asp-controller="Account" asp-action="Login">Login with Google</a>
        </li>
    }
</ul>